@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Protest+Revolution&display=swap');
/* 🌱💧🔥MOKEPON!🔥💧🌱 */

*{
    margin: 0px;
    padding: 0px;
    text-align: center;/*centra los texto*/
    box-sizing: border-box;/*se usa para que elementos mantengan su tamaño y no se rompa el estilos el estilo*/
}
body{
    background-image: url('./assets/fondo.png');
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-size: cover;

}
p {
    margin-top: 10px;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;/*se selecciona la direccion del flex (colum)*/
    justify-content: center;/*se centra el contendio (center)*/
    align-items: center; /*se centran los elementos del contenedor padre de manera transversal*/
}

.titulo{ 
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #1A120B;/*color de la la letra*/
    margin-top: 25px;
    font-size: 45px; /*tamaño de letra*/
    
}

.subtitulo{
    color: #1A120B;
    padding: 35px;
    box-sizing: border-box;
}

.tarjetas{
    display: flex;/*es una propieda que nos ayuda a organizar o manipular mejor los elementos*/
}

.tarjeta-de-mokepon{
    width: 160px;/*ancho*/
    height: 180px;/*alto*/
    background-color: #FEFF9F;/*color de fondo*/
    padding: 10px;/*relleno*/
    margin: 10px;/*margen (separa las elementos uno de otro)*/
    border: 1px solid black;/*borde y se le asigna un color*/
    border-radius: 20px;/*redondeo de bordes*/
    display: flex;
    flex-direction: column;/*define que direccion va dirijido el flex*/
    align-items: center;/*centra los elementos */
    box-sizing: border-box;
}
.tarjeta-de-mokepon img {
    width: 124px;
}

input{
    display: none; /*se vualve invisible */
}

button{
    height: 45px;
    width: 180px;
    border: 1px solid #1A1A19;
    color: #1A1A19;
    background: #FFE700;
    border-radius: 20px;/*redondeo de bordes*/
    margin-top: 30px;/*tamaño de la margen de la parte arriba*/
    margin-left: 5px;/*tamaño de la margen de la parte de la izquierda*/
    margin-right: 10px;/*tamaño de la margen de la parte parte de la deracha*/
    margin-bottom: 35px;/*tamaño de la margen de la parte de abajo*/
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    box-sizing: border-box;
}
#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
/*modelo de caja*/